// mixins.scss

@mixin media($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-sm - 1) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin container($width: $grid-width) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

@mixin gutter($gutter: $grid-gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin col($col) {
  max-width: ($col / $grid-columns) * 100%;
  flex: ($col / $grid-columns) * 100% 0 0;
}
