// typo.scss

body {
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
}