// CampaignList.scss

@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.campaign-list {
  @include container;
  margin-top: 4rem;
}

.campaign-list__item {
  @include gutter;
  margin-bottom: 4rem;

  .name {
    margin-top: 4rem;
  }
}
