// CampaignList.scss

@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.campaign-list {
  @include container;
  margin-top: 4rem;
}

.campaign {
  @include gutter;
  margin-bottom: 4rem;
}

.campaign__name {
  margin-top: 4rem;
}
