<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script>
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div id="app">
      <form action="/api/say/hello" method="post">
        <p>
          <label>What's your name?</label>
          <input type="text" name="name" value="">
        </p>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>